#Ignored directories
/data
/moses
/mgizapp
/sample-models/
/subword-nmt/
/zero/checkpoints
/fast_align
/homophone_analysis/*.*
/homophone_analysis/*/
!homophone_analysis/*.py
!homophone_analysis/utils
!homophone_analysis/old_code

#Test scripts
python_test.py
tf_test.py
asr.py
OSR_us_000_0010_8k.wav
homophone_analysis/nohup.out
homophone_analysis/kaldi
arpabet_to_ipa.csv